<div class="container dashboard">

  <div class="loader" ng-hide="data">
    <div class="duo duo1">
      <div class="dot dot-a"></div>
      <div class="dot dot-b"></div>
    </div>
    <div class="duo duo2">
      <div class="dot dot-a"></div>
      <div class="dot dot-b"></div>
    </div>
    <div class="spinner-legend">
      <h4>Requesting data from the server...</h4>
      <h5>(If you used the 'all' route, this might take a minute)</h5>
    </div>
  </div>

  <div class="col-md-10" ng-show="data">

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h3 class="panel-title">Reviews by month</h3>
      </div>

      <div class="panel-body">
        <div ng-repeat="year in years">
          <h4>Reviews of {{year}}</h4>
          <nvd3-discrete-bar-chart
            data="reviewByMonth[year]"
            id="monthly-reviews-{{year}}"
            showXAxis="true"
            showYAxis="true"
            height="300"
            xAxisTickFormat="xAxisTickFormatFunction()"
            valueFormat="valueFormatFunction()"
            showValues="true">
            <svg></svg>
          </nvd3-discrete-bar-chart>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
        
      <div class="panel-heading">
        <h3 class="panel-title">Times per review step - hours (taken from {{nSamples}} samples)</h3>
      </div>

      <div class="panel-body">

        <div class="col-md-6">

          <h3>Average</h3>
          <nvd3-pie-chart
            data="avgData"
            id="review-avg-times"
            noData="Data aint here"
            width="400"
            height="400"
            x="xFunction()"
            y="yFunction()"
            donut="true"
            showLabels="true"
            color="colorFunction()"
            donutLabelsOutside="true"
            tooltips="true">
            <svg height="250"></svg>
          </nvd3-pie-chart>

          <h3>Median</h3>
          <nvd3-pie-chart
            data="medianData"
            id="review-median-times"
            noData="Data aint here"
            width="400"
            height="400"
            x="xFunction()"
            y="yFunction()"
            donut="true"
            showLabels="true"
            color="colorFunction()"
            donutLabelsOutside="true"
            tooltips="true">
            <svg height="250"></svg>
          </nvd3-pie-chart>
        </div>

        <div class="col-md-4">

        <div ng-controller="stepDetailsCtrl">

          <h3>Details</h6>

          <div ng-repeat="field in fields">
            <div>
              <h4>{{labels[field]}}</h5>
              <div>
                <div>Best: {{avg.best[field][0]}} (<a href="https://review.salsitasoft.com/r/{{avg.best[field][1].id}}/">r{{avg.best[field][1].id}}</a>)</div>
              </div>
              <div>
                <div>Worst: {{avg.worst[field][0]}} (<a href="https://review.salsitasoft.com/r/{{avg.worst[field][1].id}}/">r{{avg.worst[field][1].id}}</a>)</div>
              </div>
              <div ng-controller="StepDetailsCtrl">
                <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">See the data...</button>
                <hr>
                <div collapse="isCollapsed">
                  <div class="well well-lg">
                    <span ng-repeat="step in steps[field]">
                      <a href="https://review.salsitasoft.com/r/{{step[1].id}}">{{step[0]}}</a>
                    </span>
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="progress times-progress" ng-show="avgProgress < 100">
          <progressbar value="avgProgress">{{avgProgress}} / 100</progressbar>
        </div>

      </div>
    </div>
      
  </div>

</div>
